.cart-container {
    width: 80%;
    margin: auto;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.item-img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.item-info h3 {
    margin: 0;
}

.total-price {
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

.btn-pay {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.header-container {
    width: auto;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display: flex;
}

.o-tim-kiem {
    width: 250px;
    height: 30px;
    border: 1px solid #ccc; /* viền xám nhạt */
    border-radius: 10px; /* bo góc */
    padding: 2px 6px; /* khoảng cách chữ với viền */
    outline: none;
    font-size: 12px;
    margin-left: 70px;
    margin-top: 10px;
}

    .o-tim-kiem:focus {
        border-color: #999; /* viền đậm hơn khi gõ */
    }

.hang-text {
    display: flex;
    justify-content: space-between;
    align-items: center; /* giữa dọc */
    margin-left: 200px;
    width: 500px;
}

.clickable-text {
    cursor: pointer;
    color: black; /* hoặc màu bạn muốn */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

    .clickable-text:hover {
        color: #20265b; /* màu khi rê chuột */
    }

.user-menu {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.user-icon {
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px 0;
    border-radius: 8px;
    z-index: 999;
    min-width: 120px;
}

    .dropdown-menu a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        color: #333;
    }

        .dropdown-menu a:hover {
            background-color: #f0f0f0;
        }

.xinchao {
    font-size: 15px;
    color: #20265b;
    margin-left: 5px;
    margin-top: 30px;
}


.btn-delete {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    .btn-delete:hover {
        background-color: #c0392b;
    }
